---
layout: default
title: Bienvenue sur le site de l'association Terra Locale en Correze 19
---

<!-- Banner Start -->
<div id="bandeau-accueil" class="container-fluid banner my-5 py-5" data-parallax="scroll"
    data-image-src="assets/img/img-accueil.jpg">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-12 wow fadeIn text-center" data-wow-delay="0.3s">
                <h1 class="titre-accueil">{{ site.data.accueil.titreprincipal }}</h1>
            </div>
        </div>
    </div>
    <div class="row accueil-nuage-mots">
        <div class="col-lg-12 wow fadeIn d-flex justify-content-around" data-wow-delay="0.5s">
            <p class="wow zoomIn" data-wow-delay="0.5s">{{ site.data.accueil.mots[0] }}</p>
            <p class="wow zoomIn" data-wow-delay="1.2s">{{ site.data.accueil.mots[1] }}</p>
            <p class="wow zoomIn" data-wow-delay="1s">{{ site.data.accueil.mots[2] }}</p>
            <p class="wow zoomIn" data-wow-delay="2s">{{ site.data.accueil.mots[3] }}</p>
            <p class="wow zoomIn" data-wow-delay="1s">{{ site.data.accueil.mots[4] }}</p>
            <p class="wow zoomIn" data-wow-delay="1.8s">{{ site.data.accueil.mots[5] }}</p>
            <p class="wow zoomIn" data-wow-delay="2s">{{ site.data.accueil.mots[6] }}</p>
            <p class="wow zoomIn" data-wow-delay=".8s">{{ site.data.accueil.mots[7] }}</p>
            <p class="wow zoomIn" data-wow-delay="1.2s">{{ site.data.accueil.mots[8] }}</p>
            <p class="wow zoomIn" data-wow-delay="1.8s">{{ site.data.accueil.mots[9] }}</p>
            <p class="wow zoomIn" data-wow-delay=".1s">{{ site.data.accueil.mots[10] }}</p>
            <p class="wow zoomIn" data-wow-delay="1.2s">{{ site.data.accueil.mots[11] }}</p>
        </div>
    </div>
</div>
<!-- Banner End -->

<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container" id="l-association">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6">
                <div class="row g-2" id="association-photos">
                    <div class="col-6" data-wow-delay="">
                        <img class="img-fluid rounded" src="assets/img/accueil/image1.webp">
                    </div>
                    <div class="col-6" data-wow-delay="">
                        <img class="img-fluid rounded" src="assets/img/accueil/image2.webp">
                    </div>
                    <div class="col-6" data-wow-delay="">
                        <img class="img-fluid rounded" src="assets/img/accueil/image3.webp">
                    </div>
                    <div class="col-6" data-wow-delay="">
                        <img class="img-fluid rounded" src="assets/img/accueil/image4.webp">
                    </div>
                </div>
            </div>
            <div class="col-lg-6" data-wow-delay="">
                <p class="section-title bg-white text-start text-primary pe-3">{{ site.data.accueil.soustitre1 }}</p>
                <h2 class="mb-4">{{ site.data.accueil.titre1 }}</h2>
                <p class="mb-4">{{ site.data.accueil.texte1 }}</p>
                <!--<div class="row g-5 pt-2 mb-5">
                        <div class="col-sm-6">
                            <img class="img-fluid mb-4 icones" src="assets/img/icone-fleur.png" alt="">
                            <h2 class="mb-3">{{ site.data.accueil.soustitre1 }}</h2>
                            <span>{{ site.data.accueil.soustexte1 }}</span>
                        </div>
                        <div class="col-sm-6">
                            <img class="img-fluid mb-4 icones" src="assets/img/icone-eau.png" alt="">
                            <h2 class="mb-3">{{ site.data.accueil.soustitre2 }}</h2>
                            <span>{{ site.data.accueil.soustexte2 }}</span>
                        </div>
                    </div>-->
                <div class="flex justify-content-evenly">
                    <a class="btn btn-secondary rounded-pill py-3 px-5" href="">Prochaines rencontres</a>
                    <a class="btn btn-secondary rounded-pill py-3 px-5" href="">Adhérer</a>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- About End -->


<!-- Features Start -->
<div class="container-xxl py-5">
    <div id="rencontres" class="container">
        <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
            <p class="section-title bg-white text-center text-primary px-3"></p>
            <h2 class="mb-5">Les prochaines rencontres</h2>
        </div>
        <div class="row g-5 posts">
                {% for post in site.posts %}
                <div class="col-12 col-sm-6 col-md-4 wow fadeIn" data-wow-delay="0.1s">
                    <article class="d-flex flex-column justify-content-between">
                        <h3 class="text-center text-uppercase"><a href="{{ post.url }}">{{ post.title }}</a></h3>
                        {% assign img = post.content | split: 'src="' | last | split: '"' | first %}
                        {% if img contains '.jpg' or img contains '.png' %}
                        <img src="{{ img }}" alt="Image du post" class="post-thumbnail">
                        {% endif %}

                        <div class="excerpt">
                            {{ post.excerpt | strip_html | truncate: 200 }}
                            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                        </div>

                    </article>
                    <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>

                </div>
                {% endfor %}
        </div>
    </div>
</div>
<!-- Features End -->


<!-- Product Start  -->
<div class="container-xxl py-5">
    <div class="container" id="adherer">
        <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
            <p class="section-title bg-white text-center text-primary px-3">🌳</p>
            <h2 class="mb-5">À propos</h2>
        </div>
        <div class="row gx-4">
            <div class="col-md-4 wow fadeInUp" data-wow-delay="0.1s">
                <div class="product-item">
                    <div class="position-relative">
                        <img class="img-fluid" src="assets/img/portrait.jpg" alt="">
                        <div class="product-overlay">
                            <a class="btn btn-square btn-secondary rounded-circle m-1" href="/a-propos#qui-suis-je"><i
                                    class="bi bi-arrow-right"></i></a>
                        </div>
                    </div>
                    <div class="text-center p-4">
                        <a class="d-block h5" href="/a-propos#qui-suis-je">Qui-suis-je ?</a>

                    </div>
                </div>
            </div>
            <div class="col-md-4 wow fadeInUp" data-wow-delay="0.3s">
                <div class="product-item">
                    <div class="position-relative">
                        <img class="img-fluid" src="assets/img/temoignage.png" alt="">
                        <div class="product-overlay">
                            <a class="btn btn-square btn-secondary rounded-circle m-1"
                                href="/a-propos#les-temoignages"><i class="bi bi-arrow-right"></i></a>
                        </div>
                    </div>
                    <div class="text-center p-4">
                        <a class="d-block h5" href="/a-propos#les-temoignages">Témoignages de stagiaires</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 wow fadeInUp" data-wow-delay="0.5s">
                <div class="product-item">
                    <div class="position-relative">
                        <img class="img-fluid" src="assets/img/portfolio.png" alt="">
                        <div class="product-overlay">
                            <a class="btn btn-square btn-secondary rounded-circle m-1" href="/a-propos#portfolio"><i
                                    class="bi bi-arrow-right"></i></a>
                        </div>
                    </div>
                    <div class="text-center p-4">
                        <a class="d-block h5" href="/a-propos#portfolio">Portfolio</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Product End -->


<!-- Form start -->
<div id="me-contacter" class="container footer mt-5 py-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 800px;">
        <p class="section-title bg-white text-center text-primary px-3"></p>
        <h2 class="mb-5">Contactez-moi via ce formulaire</h2>
    </div>
    {% include contact.html %}
</div>
<!-- Form End -->
